<script lang="ts">
  import { enhance } from "$app/forms";

  async function subscribe(event: Event) {
    const form = event.target as HTMLFormElement;
    const data = new FormData(form);

    await fetch("api/newsletter", {
      method: "POST",
      body: data,
    });
  }

  const keydown = function (event: Event) {};
</script>

<svelte:head>
  <title>Example</title>
  <meta name="description" content="Svelte original demo page" />
</svelte:head>

<svelte:window on:keydown={keydown} />

<section class="app-section">
  <form on:submit|preventDefault={subscribe}>
    <input class="p-2" type="email" name="email" />
    <button
      class="bg-myGreen px-4 py-2 text-myGray-900 hover:bg-myGreenDk hover:text-black"
      >Subscribe</button
    >
  </form>

  <!-- <form
    method="POST"
    action="?/enter"
    use:enhance={() => {
      // // prevent default callback from resetting the form
      // return ({ update }) => {
      //   update({ reset: false });
      // };
    }}
  >
    <div class="grid" />

    <div class="controls" />
  </form> -->
</section>
