<script>
  import { fly } from "svelte/transition";
  import { onMount } from "svelte";

  let visible = false;

  onMount(() => {
    visible = true;
  });
</script>

<div
  in:fly={{ y: -50, duration: 200, delay: 400 }}
  out:fly={{ y: -50, duration: 200 }}
>
  {#if visible}
    <div class="app-section">
      <h1>Demo SPA here.</h1>
      <p>coming soon.</p>
    </div>
  {/if}
</div>
