<script>
  import { fade, fly } from "svelte/transition";

  import ensoImgSrc from "$lib/images/enso.jpg";
</script>

<svelte:head>
  <title>About</title>
  <meta name="description" content="About this app" />
</svelte:head>
<div
  in:fly={{ y: -50, duration: 200, delay: 400 }}
  out:fly={{ y: -50, duration: 200 }}
>
  <div class="app-section flex flex-col md:flex-row md:gap-8" transition:fade>
    <div class="app-section-tight order-2 md:order-1 md:w-[30%] text-sm">
      <img src={ensoImgSrc} class="mb-2" alt="enso" />
      <p>
        <span class="text-myYellow">coming soon:</span> an image gallery of some
        <br />
        of my interests. this is an
        <a href="https://en.wikipedia.org/wiki/Ens%C5%8D">enso</a>.
      </p>
    </div>
    <div class="order-1 md:order-2 md:w-[70%]">
      <h1>Full-Stack Engineer <br />with Frontend/UI Focus</h1>

      <p>
        I bring over 10 years of industry experience and 5 years of experience
        in creating modern browser applications to the table. With a background
        in both software development and art, I label myself as a 'frontend/UI'
        focused engineer. My passions and strengths lie in this area, but I am
        also capable of working on (and enjoy) full-stack projects. I work
        towards making code, ux easier to use and understand.
      </p>
      <p>
        My experience ranges from working with large teams at big companies, to
        small three-person teams, and everything in between. I have worked as
        both a designer and developer on projects that range from individual
        landing pages to full SPAs. And I have spent a large chunk of my career
        working on internal company tools. I have also taught design at the
        university level and hold an MFA in Painting.
      </p>
      <p>
        My current preferred tech stack includes Svelte/Sveltekit, Tailwind,
        TypeScript. I prefer using new technologies as they often provide
        simpler solutions to problems. However, I am aware of business
        constraints and am open to different opinions. I have also worked with
        Vue (PowerAdmin), Lit (Blackstone Publishing), Stencil (Madness Labs),
        and some React (Caleres) in the frontend space.
      </p>
      <p>
        I reside in Portland, OR with my husband and two dogs. In my free time,
        I enjoy dining out, hiking, playing board games with friends, and more.
      </p>
    </div>
  </div>
</div>
