<script lang="ts">
  import { fade } from "svelte/transition";
  import { onMount } from "svelte";
  import { page } from "$app/stores";
  import BgPattern from "./BgPattern.svelte";
  import Header from "./Header.svelte";

  let visible = false;
  onMount(() => {
    visible = true;
  });
</script>

<div class={`${$page.url.pathname === "/" ? "invisible" : ""}`}>
  <Header />
</div>
<main
  class="app-section app-section-outter relative z-10 flex flex-col w-full max-w-[64rem] mx-auto container"
>
  <slot />
</main>
<footer
  class="app-section-tight app-section-outter fixed bottom-0 z-30 w-full text-xs bg-myGray-900"
>
  <p class="text-white text-center leading-6">
    This portfolio was made with SvelteKit. Visit <a
      href="https://kit.svelte.dev">kit.svelte.dev</a
    > to learn SvelteKit. It's awesome. Srsly.
  </p>
</footer>
{#if $page.url.pathname === "/"}
  {#if visible}
    <div transition:fade>
      <BgPattern />
    </div>
  {/if}
{/if}
