<script lang="ts">
  import { fade, fly } from "svelte/transition";
  import { onMount } from "svelte";
  import A2LogoPart from "$lib/images/a-2-logo-part.svg?component";
  import ALogoPart from "$lib/images/a-logo-part.svg?component";
  import anime from "animejs/lib/anime.es.js";
  import ButtonUl from "$lib/ui/ButtonUl.svelte";
  import ELogoPart from "$lib/images/e-logo-part.svg?component";
  import HLogoPart from "$lib/images/h-logo-part.svg?component";
  import NLogoPart from "$lib/images/n-logo-part.svg?component";
  import OLogoPart from "$lib/images/o-logo-part.svg?component";
  import P2LogoPart from "$lib/images/p-2-logo-part.svg?component";
  import PLogoPart from "$lib/images/p-logo-part.svg?component";
  import RLogoPart from "$lib/images/r-logo-part.svg?component";
  import SubNav from "./SubNav.svelte";
  import textChalkPortfolio from "$lib/images/text-chalk-portfolio.png";

  let visible = false;

  const runAnimations = (_e?: Event | null, fromOnMount?: boolean) => {
    if (!fromOnMount) {
      anime({
        targets: ".logo-part-fade",
        easing: "spring(1, 90, 80, 30)",
        duration: 400,
        opacity: [0.4, 1.1],
        scale: [{ value: 0.4 }, { value: 1.8 }, { value: 1 }],
      });
    }
    anime({
      targets: ".a-2-logo-part",
      easing: "spring(1, 90, 80, 30)",
      duration: 1200,
      scale: [{ value: 0.5 }, { value: 1.4 }, { value: 0.9 }, { value: 1 }],
    });
    anime({
      targets: ".o-logo-part",
      easing: "easeOutBack",
      duration: 1200,
      rotate: ["10deg", "-5deg", "0"],
      scale: [{ value: 0.8 }, { value: 1.1 }, { value: 1 }],
      translateX: ["0", ".1rem", "0", "-.2rem", "0"],
      translateY: ["0", ".2rem", "0", ".2rem", "0"],
    });
    anime({
      targets: ".h-logo-part",
      easing: "easeOutBack",
      duration: 1200,
      scale: [{ value: 0.6 }, { value: 1.1 }, { value: 0.9 }, { value: 1 }],
      keyframes: [
        { rotate: 10 },
        { rotate: 0 },
        { rotate: -4 },
        { rotate: 0 },
        { rotate: 2 },
        { rotate: 0 },
        { rotate: 0 },
        { rotate: 0 },
      ],
    });
    anime({
      targets: ".p-logo-part",
      easing: "spring(1, 90, 80, 30)",
      duration: 900,
      delay: 400,
      scale: [{ value: 0.7 }, { value: 1.2 }, { value: 0.9 }, { value: 1 }],
    });
    anime({
      targets: ".e-logo-part",
      easing: "easeOutBack",
      duration: 1000,
      scale: [{ value: 0.5 }, { value: 1.2 }, { value: 0.8 }, { value: 1 }],
      keyframes: [
        { rotate: -20 },
        { rotate: 0 },
        { rotate: 6 },
        { rotate: 0 },
        { rotate: -1 },
        { rotate: 0 },
        { rotate: 0 },
        { rotate: 0 },
      ],
    });
  };
  onMount(() => {
    visible = true;
    runAnimations(null, true);
  });
</script>

<svelte:head>
  <title>Home</title>
  <meta name="description" content="Portfolio" />
</svelte:head>
<div
  in:fly={{ y: -50, duration: 200, delay: 400 }}
  out:fly={{ y: -50, duration: 200 }}
>
  <header class="app-section app-section-outter relative z-30 md:pt-4 lg:pt-6">
    <div class="lg:flex lg:flex-col lg:justify-evenly h-auto">
      <div
        class="flex flex-wrap justify-center items-center mt-4"
        on:click={runAnimations}
        on:keyup={runAnimations}
      >
        <div class="flex md:flex-auto md:justify-end md:w-[50%] md:pb-5 ">
          <div
            class="logo-part-fade flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer"
          >
            <ALogoPart
              class="a-logo-part w-full hover:-translate-y-1 duration-75 ease-in"
            />
          </div>
          <div
            class="logo-part-fade-light flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer hover:-translate-y-1 duration-75 ease-in"
          >
            <A2LogoPart class="a-2-logo-part w-full" />
          </div>
          <div
            class="logo-part-fade flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer"
          >
            <RLogoPart
              class="r-logo-part w-full  hover:-translate-y-1 duration-75 ease-in"
            />
          </div>
          <div
            class="logo-part-fade-light flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer hover:-translate-y-1 duration-75 ease-in"
          >
            <OLogoPart class="o-logo-part w-full " />
          </div>
          <div
            class="logo-part-fade flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer"
          >
            <NLogoPart
              class="n-logo-part w-full  hover:-translate-y-1 duration-75 ease-in"
            />
          </div>
        </div>
        <div class="flex md:flex-auto md:w-[50%] md:pb-5">
          <div
            class="logo-part-fade-light flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer hover:-translate-y-1 duration-75 ease-in"
          >
            <HLogoPart class="h-logo-part w-full " />
          </div>
          <div
            class="logo-part-fade flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer "
          >
            <ALogoPart
              class="a-3-logo-part w-full  hover:-translate-y-1 duration-75 ease-in"
            />
          </div>
          <div
            class="logo-part-fade flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer hover:-translate-y-1 duration-75 ease-in"
          >
            <PLogoPart class="p-logo-part w-full " />
          </div>
          <div
            class="logo-part-fade flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer"
          >
            <P2LogoPart
              class="p-2-logo-part w-full hover:-translate-y-1 duration-75 ease-in"
            />
          </div>
          <div
            class="logo-part-fade-light flex grow h-auto {visible
              ? 'logo-part-fade-active'
              : ''} cursor-pointer hover:-translate-y-1 duration-75 ease-in"
          >
            <ELogoPart class="e-logo-part w-full" />
          </div>
        </div>
        <div
          class="flex grow justify-between lg:justify-center items-center pt-4 md:pt-2 lg:pt-4 pb-8"
        >
          <img
            src={textChalkPortfolio}
            class="{visible
              ? 'logo-part-fade-active'
              : ''} logo-part-fade w-[92%] mx-auto lg:w-[94%] lg:ml-10"
            alt="portfolio"
          />
        </div>
      </div>

      {#if visible}
        <nav transition:fade class="pb-[12.5vh]">
          <ButtonUl
            buttons={[
              { name: "about", link: "/about", color: "green" },
              { name: "demo app", link: "/temp-ph", color: "blue" },
              { name: "blog", link: "/blog", color: "yellow" },
            ]}
          />
          <SubNav />
        </nav>
      {/if}
    </div>
  </header>
</div>

<h1 class="relative z-[-1] hidden">Aaron Happe</h1>
<h2 class="relative z-[-1] hidden">Portfolio</h2>

<style lang="postcss">
  .logo-part-fade {
    @apply transition-all duration-700 opacity-0 scale-50 ease-out;
  }
  .logo-part-fade-light {
    @apply transition-all duration-500 opacity-0 ease-out;
  }
  .logo-part-fade-active {
    @apply opacity-100 scale-100;
  }
</style>
