<script lang="ts">
  let hasUdpatedBgPattern = false;
  let winWidth: number;

  let shapesCount = 0;

  let shapesAsEmptyPlHolder: undefined[] = [];

  let bgIconList = ["tri", "plus", "heart", "x"];
  let bgIconListAlt = ["x", "tri", "plus", "heart"];

  const shapesRefs: HTMLElement[] = [];

  const scrollHandler = () => {
    if (!hasUdpatedBgPattern) {
      hasUdpatedBgPattern = true;
      calcBgPattern();
    }
  };

  const calcBgPattern = () => {
    shapesCount = Math.floor(winWidth / (shapesRefs[0]?.offsetWidth * 4) + 1);

    shapesAsEmptyPlHolder = Array(shapesCount ? shapesCount : 0);
  };

  $: {
    shapesCount = Math.floor(winWidth / (shapesRefs[0]?.offsetWidth * 4) + 1);

    shapesAsEmptyPlHolder = Array(shapesCount ? shapesCount : 0);
  }
</script>

<svelte:window bind:innerWidth={winWidth} on:scroll={scrollHandler} />

<div class="wrapper ">
  {#each bgIconList as item, index}
    <div
      bind:this={shapesRefs[index]}
      class="{item}-wrap shape-wrap absolute flex justify-center items-center w-8 h-8 mx-1 invisible left[-100rem] top-[-100rem]"
    >
      <span class="{item} shape opacity-80" />
    </div>
  {/each}
  <div
    class="shapes-row shapes-row-1 fixed bottom-[0rem] z-[1] flex justify-center row"
  >
    {#each shapesAsEmptyPlHolder as _, i}
      <div class="shapes flex justify-start flex-row">
        {#each bgIconList as item}
          <div
            class="{item}-wrap shape-wrap relative flex justify-center items-center w-8 h-8 mx-1"
          >
            <span class="{item} shape opacity-90" />
          </div>
        {/each}
      </div>
    {/each}
  </div>
  <div
    class="shapes-row shapes-row-2 fixed bottom-[3rem] left-[-.2rem] z-[1] flex justify-center row"
  >
    {#each shapesAsEmptyPlHolder as _, i}
      <div class="shapes flex justify-start flex-row">
        {#each bgIconListAlt as item, index}
          <div
            class="{item}-wrap shape-wrap relative flex justify-center items-center w-8 h-8 mx-1"
          >
            <span class="{item} shape opacity-70" />
          </div>
        {/each}
      </div>
    {/each}
  </div>
  <div
    class="shapes-row shapes-row-3 fixed bottom-[6rem] z-[1] flex justify-center row"
  >
    {#each shapesAsEmptyPlHolder as _, i}
      <div class="shapes flex justify-start flex-row">
        {#each bgIconList as item}
          <div
            class="{item}-wrap shape-wrap relative flex justify-center items-center w-8 h-8 mx-1"
          >
            <span class="{item} shape opacity-50" />
          </div>
        {/each}
      </div>
    {/each}
  </div>
  <div
    class="shapes-row shapes-row-4 fixed bottom-[9rem] left-[-.2rem] z-[1] flex justify-center row"
  >
    {#each shapesAsEmptyPlHolder as _, i}
      <div class="shapes flex justify-start flex-row">
        {#each bgIconListAlt as item}
          <div
            class="{item}-wrap shape-wrap relative flex justify-center items-center w-8 h-8 mx-1"
          >
            <span class="{item} shape opacity-30" />
          </div>
        {/each}
      </div>
    {/each}
  </div>
  <div
    class="shapes-row shapes-row-5 fixed bottom-[12rem] z-[1] flex justify-center row"
  >
    {#each shapesAsEmptyPlHolder as _, i}
      <div class="shapes flex justify-start flex-row">
        {#each bgIconList as item}
          <div
            class="{item}-wrap shape-wrap relative flex justify-center items-center w-8 h-8 mx-1"
          >
            <span class="{item} shape opacity-20" />
          </div>
        {/each}
      </div>
    {/each}
  </div>
  <div
    class="shapes-row shapes-row-6 fixed bottom-[15rem] left-[-.2rem] z-[1] flex justify-center row"
  >
    {#each shapesAsEmptyPlHolder as _, i}
      <div class="shapes flex justify-start flex-row">
        {#each bgIconListAlt as item}
          <div
            class="{item}-wrap shape-wrap relative flex justify-center items-center w-8 h-8 mx-1"
          >
            <span class="{item} shape opacity-[15%]" />
          </div>
        {/each}
      </div>
    {/each}
  </div>
  <div
    class="shapes-row shapes-row-7 fixed bottom-[18rem] z-[1] flex justify-center row"
  >
    {#each shapesAsEmptyPlHolder as _, i}
      <div class="shapes flex justify-start flex-row">
        {#each bgIconList as item}
          <div
            class="{item}-wrap shape-wrap relative flex justify-center items-center w-8 h-8 mx-1"
          >
            <span class="{item} shape opacity-10" />
          </div>
        {/each}
      </div>
    {/each}
  </div>
  <div
    class="shapes-row shapes-row-8 fixed bottom-[21rem] left-[-.2rem] z-[1] flex justify-center row"
  >
    {#each shapesAsEmptyPlHolder as _, i}
      <div class="shapes flex justify-start flex-row">
        {#each bgIconListAlt as item, index}
          <div
            class="{item}-wrap shape-wrap relative flex justify-center items-center w-8 h-8 mx-1"
          >
            <span class="{item} shape opacity-5" />
          </div>
        {/each}
      </div>
    {/each}
  </div>
</div>
<div class="stripped-bg fixed z-0 inset-0" />

<style lang="postcss">
  :root {
    --tri-base: 0.4rem;
    --tri-total: 1.75rem;
    --tw-800-grey: #2d2d2d;
  }

  /* TODO: switch to tailwind @apply */
  .stripped-bg {
    background-clip: content-box, padding-box;
    background: repeating-linear-gradient(
      45deg,
      #111111,
      #111111 4rem,
      #050505 4rem,
      #050505 8rem
    );
  }
  .shapes {
    animation-duration: 0.9s;
    animation-name: slidein;
    animation-fill-mode: both;
  }
  .wrapper .shapes-row-2 .shapes {
    animation-delay: 0.14s;
  }
  .wrapper .shapes-row-3 .shapes {
    animation-delay: 0.12s;
  }
  .wrapper .shapes-row-4 .shapes {
    animation-delay: 0.1s;
  }
  .wrapper .shapes-row-5 .shapes {
    animation-delay: 0.08s;
  }
  .wrapper .shapes-row-6 .shapes {
    animation-delay: 0.06s;
  }
  .wrapper .shapes-row-7 .shapes {
    animation-delay: 0.04s;
  }
  .wrapper .shapes-row-8 .shapes {
    animation-delay: 0.02s;
  }
  .plus-wrap {
    margin-right: 0.2rem;
    margin-left: 0.35rem;
  }
  .plus {
    position: relative;
    display: inline-block;
    height: var(--tri-total);
    width: var(--tri-base);
    background: var(--tw-800-grey);
  }
  .plus:after {
    content: "";
    position: absolute;
    top: 0.7rem;
    left: -0.7rem;
    display: inline-block;
    height: var(--tri-base);
    width: var(--tri-total);
    background: var(--tw-800-grey);
  }
  .heart {
    position: relative;
    display: inline-block;
    width: 1.7rem;
    height: 1.5rem;
  }
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 1rem;
    top: 0;
    width: 1rem;
    height: 1.6rem;
    background: var(--tw-800-grey);
    border-radius: 1rem 1rem 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  .tri {
    display: inline-block;
    position: relative;
    height: 0;
    width: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1.5rem solid var(--tw-800-grey);
  }
  .x-wrap {
    margin-right: 0.25rem;
    margin-left: 0.5rem;
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */
  }
  .x {
    position: relative;
    display: inline-block;
    height: var(--tri-total);
    width: var(--tri-base);
    background: var(--tw-800-grey);
  }
  .x:after {
    content: "";
    position: absolute;
    top: 0.7rem;
    left: -0.7rem;
    display: inline-block;
    height: var(--tri-base);
    width: var(--tri-total);
    background: var(--tw-800-grey);
  }
  @keyframes slidein {
    from {
      opacity: 0;
      scale: 2;
      /* bottom: -10rem; */
    }
    to {
      scale: 1;
    }
  }
</style>
