<script lang="ts">
  import "iconify-icon";
  import { fade, fly } from "svelte/transition";
  import { onMount } from "svelte";
  import Nav from "./Nav.svelte";

  onMount(() => {
    visible = true;
  });

  let visible = false;
</script>

<svelte:head>
  <link rel="stylesheet" href="https://use.typekit.net/ivz2wld.css" />
</svelte:head>
{#if visible}
  <header
    transition:fade
    class="relative flex flex-col w-full max-w-[64rem] mx-auto container z-30"
  >
    <Nav />
  </header>
{/if}
