<script>
  import { page } from "$app/stores";
  import { beforeNavigate } from "$app/navigation";
  import ButtonUl from "$lib/ui/ButtonUl.svelte";
  import SubNav from "./SubNav.svelte";

  let isNavOpen = false;

  let navOpts = [
    { name: "home", link: "/" },
    { name: "about", link: "/about" },
    { name: "demo app", link: "/temp-ph" },
    { name: "blog", link: "/blog" },
  ];

  beforeNavigate(() => {
    isNavOpen = false;
  });

  const toggleNav = () => {
    isNavOpen = !isNavOpen;
  };
</script>

<nav
  class={`app-section-outter flex justify-between flex-wrap items-end w-full sm:bg-myGray-900 transition-all ${
    isNavOpen ? "bg-myBlue-900 py-6 " : "bg-myGray-900 pt-6 pl-4"
  }`}
>
  <!-- portfolio-nav li's -->
  <ul class="hidden sm:block flex flex-row">
    {#each navOpts as opt}
      <li class={`inline-block uppercase`}>
        <a
          href={opt.link}
          class={`mr-6 hover:border-myBlue-300 transition-all ${
            $page.url.pathname === opt.link ? "pb-1 border-b-2 " : ""
          }`}>{opt.name}</a
        >
      </li>
    {/each}
  </ul>

  <div class="sm:hidden w-full ">
    <iconify-icon
      icon={`${isNavOpen ? "mdi:alpha-x-circle-outline" : "mdi:menu"}`}
      class="text-3xl cursor-pointer transition-all"
      on:click={toggleNav}
      on:keyup={toggleNav}
    />
    {#if isNavOpen}
      <div
        class={`${
          isNavOpen ? "h-auto opacity-100" : "h-0 opacity-0"
        }  transition-all`}
      >
        <ButtonUl buttons={navOpts} />

        <SubNav />
      </div>
    {/if}
  </div>

  <div class="hidden sm:block">
    <SubNav />
  </div>
</nav>

<style lang="postcss">
  /* #trigger-for-portfolio-nav {
    @apply hidden;
  }
  .generic-view #trigger-for-portfolio-nav {
    @apply inline-block;
  } */
</style>
