<script lang="ts">
  export let width: "full" | "half" = "full";
</script>

<ul
  class={`flex justify-center justify-end items-end gap-4 mx-auto ${
    width === "full" ? "w-full" : 'w-["50%"]'
  }`}
>
  <li>
    <a
      href="https://github.com/aaronmichaelhappe"
      class="cursor-pointer flex flex-col items-center w-14 text-xs"
    >
      <iconify-icon icon="mdi:github" class="text-3xl" />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/aaron-h-4741176a"
      class="flex flex-col items-center w-14 text-xs"
    >
      <iconify-icon icon="mdi:linkedin" class="text-3xl " />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/aaron-h-4741176a"
      class="flex flex-col items-center w-14 text-[.8rem]"
    >
      <iconify-icon
        icon="mdi:download"
        class="text-[1rem] hover:text-yGray-100"
      />

      RESUME</a
    >
  </li>
</ul>
