<!-- <script lang="ts">
  import type { Post } from "@prisma/client";

  async function getPosts() {
    const response = await fetch("api/posts");
    const posts: Post[] = await response.json();
    return await posts;
  }
</script>

<section class="app-section-medium">
  <h1>Posts</h1>
  {#await getPosts()}
    <p>Loading...</p>
  {:then posts}
    {#each posts as post}
      <div class="app-section">
        <h2>{post.title}</h2>
        <br />
        <p class="">{post.content}</p>
      </div>
    {/each}
  {:catch error}
    <p>{error.message}</p>
  {/await}
</section> -->
<script>
  import { fly } from "svelte/transition";
  import { onMount } from "svelte";

  let visible = false;

  onMount(() => {
    visible = true;
  });
</script>

<div
  in:fly={{ y: -50, duration: 200, delay: 400 }}
  out:fly={{ y: -50, duration: 200 }}
>
  {#if visible}
    <div class="app-section">
      <h1>Blog.</h1>
      <p>coming soon.</p>
    </div>
  {/if}
</div>
