<script lang="ts">
  import { page } from "$app/stores";
  import Button from "$lib/ui/Button.svelte";

  type ButtonOpts = {
    name: string;
    link: string;
    color?: "green" | "blue" | "yellow" | "red" | "default";
  };
  export let buttons: ButtonOpts[] = [];
  export let hideCurrentUrl = true;
  export let width: "fixed" | "fluid" = "fixed";
</script>

<ul
  class="flex flex-col lg:flex-row lg:justify-center items-center lg:gap-12 mb-2 lg:pt-4 w-full"
>
  {#each buttons as button}
    {#if hideCurrentUrl}
      <li
        aria-current={$page.url.pathname === button.link ? "page" : undefined}
        class="inline-block uppercase lg:text-xl mb-4"
      >
        <Button
          color={button.color ? button.color : "default"}
          current={$page.url.pathname === button.link}
          link={button.link}
          {width}>{button.name}</Button
        >
      </li>
    {/if}
  {/each}
</ul>
