<script lang="ts">
  export let color: "green" | "blue" | "yellow" | "red" | "default" = "default";
  export let current: boolean = false;
  export let link: string;
  export let width: "fixed" | "fluid" = "fluid";
  // export let type: string = "default";
  type Color = {
    border: string;
    "border-hover": string;
  };
  type ColorLookup = {
    green: Color;
    blue: Color;
    yellow: Color;
    red: Color;
    default: Color;
  };
  const colorLookup: ColorLookup = {
    green: {
      border: "border-myGreen",
      "border-hover": "hover:border-myGreen-600",
    },
    blue: {
      border: "border-myBlue",
      "border-hover": "hover:border-myBlue-600",
    },
    yellow: {
      border: "border-myYellow",
      "border-hover": "hover:border-myBlue-600",
    },
    red: {
      border: "border-myRed",
      "border-hover": "hover:border-myRed-600",
    },
    default: {
      border: "white",
      "border-hover": "hover:border-myGray-100",
    },
  };
</script>

<a
  href={link}
  class={`inline-block py-3 border-4 hover:text-myGray-100 hover:border-${
    colorLookup[color].border
  }-600 rounded-full  
        ${colorLookup[color].border} ${
    width === "fixed" ? `w-48 text-center` : `px-8 `
  } ${current ? "border-myBlue-300 bg-myBlue-800 text-myBlue-300" : ""} `}
  ><slot /></a
>
