<script lang="ts">
  import "../../app.css";
  import { onMount } from "svelte";
  import { page } from "$app/stores";
  let visible = false;

  onMount(() => {
    visible = true;
  });
</script>

{#if visible}
  <nav class="flex justify-between items-end pt-2">
    <li
      id="home-anchor"
      aria-current={$page.url.pathname === "/" ? "page" : undefined}
    >
      <a href="/">Home</a>
    </li>
  </nav>

  <slot />
{/if}
