@font-face {
  font-family: "Futurra";
  src: url(/fonts/futura.ttf);
}
html {
  @apply text-white overflow-y-scroll;
}
.app-section h1 {
  @apply text-4xl pb-2 uppercase font-bold leading-[3.6rem] !important;
}
.app-section-outter a:hover {
  @apply text-myBlue-300;
}
.app-section,
.app-section-tight,
.app-section-medium {
  @apply py-3;
}
.app-section-outter {
  @apply px-4;
}
.app-section p {
  @apply leading-8 pb-4;
}
.app-section-medium p {
  @apply leading-7;
}
.app-section-tight p {
  @apply leading-5;
}
.app-section p a {
  @apply underline;
}
.app-section input {
  @apply text-myGray-900;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
